
.header--container{
  margin-top: 30px;
  padding-top: 25px;
  text-align: center;
}
.header--text{
  font-size: 50px;

}
.header--details{
  padding: 15px;
}
.guest-container {
  padding: 5px;
}
.guest--input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px
}
.names{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 20px
}
.name--input--container{
  padding: 10px;
}

.email--input--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px
}


.part--size--container{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.party--size{
  display: inline;
  margin-bottom: 0px;

}

.btn{
  display: flex;
  width: 100%;
  justify-content: center;

}
.btn--container{
display: flex;
justify-content: center;
margin-top: 40px;

}

.submit-btn{
  border: 1px solid darkgoldenrod;;
}


