.Guest--list--header--container{
  margin-top: 50px;
  padding-top: 25px;
  text-align: center;

}
.guest--list--table-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest--list--table{
  padding: 10px;
  margin: 20px;
  width: fit-content;
}

td ,th{
  color: rgb(122, 98, 27)
}

.example-headers-align {

  width: 90vw;
  margin: 10px;
  padding: 10px;

  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: stretch; */


}
.guest-list{
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly ;
}
