<mat-progress-spinner
  [mode]="'indeterminate'"
  *ngIf="loading | async"
></mat-progress-spinner>

<div class="Guest--list--header--container">
  <h1 class="Guest--list--header--text">﷽</h1>
  <div class="Guest--list--header--details">
    <h2>Guest list</h2>
    <h3>Total Guest: {{ totalGuest }}</h3>
  </div>
</div>

<div class="guest--list--card-container">
  <div *ngFor="let guestList of dataSource.data">
    <mat-card class="guest--list--card">
      <mat-card-header>
        <mat-card-title>
          Name:
          {{ guestList.guest[0].firstName }}
          {{ guestList.guest[0].lastName }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Party size: {{ guestList.guest.length }}</p>
        <p>Email: {{ guestList.email }}</p>
        <p>
          RSVP Date: {{ guestList?.dateRsvp | date : "MMM d, y, h:mm:ss a" }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="viewGuestDetails(guestList.id)">
          View
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="dataSource.data.length === 0">
    <h3>No one has RSVP yet!</h3>
  </div>
</div>
<mat-paginator
  [length]="totalFamilies"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
