.Guest--list--header--container{
  margin-top: 50px;
  padding-top: 25px;
  text-align: center;
}
.guest--list--table-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest--list--table{
  padding: 10px;
  margin: 20px;
  width: fit-content;
}

td ,th{
  color: rgb(122, 98, 27)
}

