.Guest--list--header--container {
  margin-top: 50px;
  padding-top: 25px;
  text-align: center;
}

.guest--list--card-container {
  display: flex;
  flex-wrap: wrap;
}
.guest--list--card{
  width: 350px;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .guest--list--table {
    display: block !important;
    padding: 0;
  }

  .mat-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    padding: 8px 0 !important;
  }

  .mat-header-row {
    display: none !important;
  }

  .mat-header-cell,
  .mat-cell {
    display: flex !important;
    flex: 1 !important;
  }
}
